{% extends "@EasyAdmin/page/content.html.twig" %}
{# affichage du dashboard admin #}
{% block content %}
	<div class="col text-center">
		<h1>Bienvenue dans l'administration de Music'Vente</h1>
		<p>
			Gerez votre interface administrateur comme bon vous semble !
		</p>
		<p>
			Ajoutez ou supprimez des articles, des catégories d'instruments</p>
		<p>
			Editez vos utilisateurs pour leur ajouter un role tel que User ou Admin
		</p>
	</div>
{% endblock %}
